@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     
     background-image: url('BEAUTY.jpg');
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    font-family: 'Roboto', sans-serif;
}
section.chat__section{
    
    width: 800px;
    max-width: 90%;
    background: rgb(57, 54, 54);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    border-style: solid;
    border-color: rgb(206, 40, 76);
    border-width: thick;

    
    padding: 20px;
    background: #76da69da;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: #444;
    margin-right: 15px;
    color:rgb(15, 23, 15);
    
}
.message__area{
    color:rgb(61, 165, 230);
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    /* text-align: center; */
    color:rgb(61, 165, 230);
    width: 100%;
    border: 5px solid rgb(32, 156, 30);
    padding: 16px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
}



.message {
    padding: 20px; 
    font-weight: bold;
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #64a7d3;
    color:white; 
    font-size: 30px; 
}
.outgoing {
    background: white;
    color: #0e1014;
    margin-left: auto;
    font-size: 30px;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.center {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    width: 20%;
  }
  